
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.eot');
    src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff'),
        url('../fonts/Montserrat-Regular.ttf') format('truetype'),
        url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.eot');
    src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff'),
        url('../fonts/Montserrat-Bold.ttf') format('truetype'),
        url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

.topbar {
    text-align: center;
}

.topbar nav {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}

ul {
    list-style: none;
}

a {
    color: rgb(175, 156, 154);
    text-decoration: none;
}

.topbar nav a:hover {
    color: black;
}

.topbar .social img{
    padding: 10px 10px;
}

.article-date {
    font-style: italic;
}

h2 a {
    color: black;
}

.sidebar {
    background: rgb(243, 241, 241);
    padding: 15px 10px;
}

.sidebar h4 {
    font-size: 20px;
    text-decoration: underline;
}

.sidebar h4:hover {
    background: lightskyblue;
    color: white;
    text-decoration: none;
    display: inline-block;
}

.footer {
    padding-top: 10px;
}

@media screen and (max-width: 549px) {
    .article img:hover {
        animation: animation 3s infinite;
    } 
}

@keyframes animation {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(200px);
    }
    100% {
        transform: translateX(0);
    }
}

@media screen and (min-width: 550px) {
    .body {
        display: flex;
    }
    .article img:hover {
        transform: rotate(15deg);
        transition-duration: 0.5s;
    }
    .sidebar {
        width: 100%;
    }
    .footer {
        background: lightgrey;
        padding: 10px;
    }
}

@media screen and (min-width: 900px) {
    .article {
        display: flex;
    }
    .article img:hover {
        transform: rotate(-180deg);
        transition-duration: 0.9s;
    }
    .article-content h2:hover {
        transform: rotate(180deg);
        transition-duration: 1.5s;
    }
    .article-content p:hover {
        transform: rotate(360deg);
        transition-duration: 0.9s;
    }
}